*
!*.yml
!*.sh
!*.md
!Bugzilla
Bugzilla/inputs/*
Bugzilla/outputs/*
Bugzilla/xlsx-outputs/*
!Installations
Installations/inputs/*
Installations/outputs/*
!Jenkins
Jenkins/inputs/*
Jenkins/etl_outputs/*
Jenkins/report_outputs/*
.env
**/.env
.ipynb_checkpoints
**/.ipynb_checkpoints
**/__pycache__
*.pyc
**/*.pyc

