apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespaces.yaml
- https://github.com/argoproj/argo-workflows/releases/download/v3.7.3/install.yaml
- sa-and-role.yaml

# (optional - comment otherwise)
# Set argo-server authentication to `server` mode
patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: argo-server
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/args
      value:
        - server
        - --auth-mode=server

