apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

# ---------------------- Generated resources ----------------------

# kubectl create secret generic mypwds \
#   --from-literal=rootUser=root \
#   --from-literal=rootHost=% \
#   --from-literal=rootPassword="supersecretpassword"

# Database credentials
secretGenerator:
- name: osm-metrics
  namespace: database
  literals:
  - rootHost=%
  env: ../../../../.credentials/db-credentials.env
  # Reference above requires using:
  # kustomize build --load-restrictor LoadRestrictionsNone
  options:
    # This prevents that the secret name gets a hash suffix but not the reference from the CRD
    disableNameSuffixHash: true
